<h1>Главная</h1><!--
<% for(var i in session) { %>
	<p><b><%=i%></b> - <i><%=session[i]%></i></p>
<% } %>
-->
<h3><a href="/lobby">Лобби</a></h3>
<h3><a href="/decks">Конструктор</a></h3>
<!--<h3>Трен/Прик</h3>
<h3>Арена</h3>
<h3>Статистика</h3>
<h3>Магазин</h3>-->
